.trash {
    width: 18px;
    height: 19px;
    background-color: transparent;
    background-image: url('../../images/trash-button.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity .25s ease;
}

.trash:hover {
    opacity: .6;
}