.profile__info {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 2fr;
    grid-template-columns: fit-content(548px) 24px;
    column-gap: 18px;
    row-gap: 7px;
    grid-template-areas: 
        "profile__title profile__edit"
        "profile__subtitle profile__subtitle";
}

@media screen and (max-width: 767px) {
    .profile__info {
        grid-template-columns: fit-content(255px) 24px;
        margin: 0 auto 33px auto;
        padding-left: 33px;
        column-gap: 10px;
        grid-template-areas: 
        "profile__title profile__edit"
        "profile__subtitle .";
    }
}