.form__input_component_auth {
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.form__input_component_register::placeholder {
    color: #ccc;
}